.modal{
    width: 90%;
    background: white;
    box-shadow: 0 2px 8px rgb(145, 145, 145);
    position: fixed;
    top: 20vh;
    left: 5%;
}

.modal__header{
    padding: 1rem;
    background: rgb(94, 184, 240);
    color: white;
}

.modal__header h2{
    margin: 0;
    font-size: 1.25 rem;
}

.modal__content {
    padding: 1rem;
}

.modal__actions{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

@media (min-width: 768px){
    .modal{
        width: 30rem;
        left: calc((100% - 30rem) / 2);
    }
}